{% extends 'layout.html.twig' %}

{% block content %}

    <main>
    
        <h1>Ne cherchez plus, vos voisins l'on sûrement</h1>


        <section class="search">
            <form class="search__form" action="" method="get">
                <label for="search">Je recherche :
                    <input class="search__form__label__input" type="search" name="artist" id="" placeholder="artist">
                    <input class="search__form__label__input" type="search" name="album" id="" placeholder="album">
                </label>
                <input class="search__form__input--submit" type="submit" value="Rechercher">
        </form>
        </section>

        <section class="mostPopular">
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
            <article class="mostPopular__popular">
                <img class="mostPopular__popular__figure__cover" src="https://static.posters.cz/image/750/kiss-rock-roll-over-album-cover-i80719.jpg"
                        alt="kiss">
                <h2 class="mostPopular__popular__figure__legend">titre de l'album</h2>
            </article>
        </section>

        <section class="aroundMe"><img class="aroundMe__picture" src="https://static.papergeek.fr/2018/06/facebook-localisation.jpg" alt=""></section>

    </main>
{% endblock %}
