{% extends 'layout.html.twig' %}
{% block stylesheet %}
	{{ parent() }}
	<link rel="stylesheet" href="assets/css/homepage.css">
	<link rel="stylesheet" href="assets/css/styleCarousel.css">
    <link rel="stylesheet" href="/assets/css/signup.css">
{% endblock %}
{% block title %}
	Inscription
{% endblock %}


{% block content %}
	<div class="main-background"></div>
	<div class="signup-container">
		<h3 class="signup-title">Inscription à LendZik</h3>
		<div class="form-container">
			<form class="form" action="" method="POST">
				<label for="name">
					<p class="name">Prénom</p>
				</label>
				<input type="text" id="name" placeholder="Entrer votre prénom" name="name" required>
				<label for="email">
					<p class="email">Email</p>
				</label>
				<input type="email" id="email" placeholder="Entrer votre email" name="email" required>
				<label for="adress">
					<p class="adress">Adresse</p>
				</label>
				<input type="text" id="adress" placeholder="Entrer votre adresse" name="adress" required>
				<label for="codepostal">
					<p class="codepostal">Code Postal</p>
				</label>
				<input type="text" id="codepostal" placeholder="Entrer votre code postal" name="codepostal" required>
				<label for="ville">
					<p class="ville">Ville</p>
				</label>
				<input type="text" id="ville" placeholder="Entrer votre ville" name="ville" required>
				<label for="password">
					<p class="password">Mot de passe</p>
				</label>
				<input type="password" id="password" placeholder="Entrer le mot de passe" name="password" required>
				<input type="submit" id='submit' value='Créer le compte'>
			</form>
		</div>
	{% endblock %}
